[Desktop Entry]
Categories=Development;
Comment[en_US]=Launches the GitSyncMan shell script in a terminal
Comment=Launches the GitSyncMan shell script in a terminal
Exec=/home/diego/Documents/Git/ops-Tooling/Git/gcl.sh
GenericName[en_US]=
GenericName=
Icon=preferences-git
MimeType=
Name[en_US]=GitSyncMan
Name=GitSyncMan
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
